<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sirux Solutions - Software Made Simple</title>
    <meta name="description" content="Multipurpose HTML template." />
    <script src="../HTWF/scripts/jquery.min.js"></script>
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css" />
    <script src="../HTWF/scripts/script.js"></script>
    <link rel="stylesheet" href="../HTWF/style.css" />
    <link rel="stylesheet" href="../HTWF/css/content-box.css" />
    <link rel="stylesheet" href="../HTWF/css/image-box.css" />
    <link rel="stylesheet" href="../HTWF/css/animations.css" />
    <link rel="stylesheet" href="../HTWF/css/components.css" />
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css" />
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css" />
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css" />
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css" />
    <link rel="icon" href="../images/favicon.png" />
    <link rel="stylesheet" href="../skin.css" />
  </head>
  <body>
    <div id="preloader"></div>

    <!--Navigation Bar-->
    <header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
      <div
        class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top"
        role="navigation"
      >
        <div class="navbar navbar-main">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle">
                <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand" href="index.html">
                <img
                  class="logo-default"
                  src="../images/logo-black.png"
                  alt="logo"
                />
                <img
                  class="logo-retina"
                  src="../images/logo-retina-black.png"
                  alt="logo"
                />
              </a>
            </div>
            <div class="collapse navbar-collapse">
              <div class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav">
                  <li class="dropdown active">
                    <a href="index-freelancer.html">Home </a>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#about"
                      >About
                    </a>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      >Portfolio <span class="caret"></span
                    ></a>
                    <ul class="dropdown-menu multi-level">
                      <li><a href="portfolio-3.html">Websites</a></li>
                      <li><a href="portfolio-4.html">Mobile Apps</a></li>
                      <li><a href="portfolio-5.html">Marketing posts</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#pricing">Pricing
                    </a>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      >Blog <span class="caret"></span
                    ></a>
                    <ul class="dropdown-menu multi-level">
                      <li><a href="blog-grid.html">Web Development</a></li>
                      <li>
                        <a href="blog-social.html">Mobile App Development</a>
                      </li>
                      <li><a href="blog-minimal.html">Digital Marketing</a></li>
                      <li><a href="blog-minimal.html">Design</a></li>
                      <li><a href="blog-minimal.html">Entrepreneurship</a></li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a
                      href="#"
                      class="dropdown-toggle"
                      data-toggle="dropdown"
                      role="button"
                      >Contact
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End of Navigation Bar-->
    </header>
    <div
      class="section-bg-image text-center"
      style="background-image: url(../images/bg-12.png)"
    >
      <div class="container content">
        <hr class="space" />
        <h1>Software <strong>Made</strong> Simple.</h1>
        <hr class="space" />
        <div class="row">
          <div class="col-md-8 col-center text-center">
            <img src="../images/mk-13.png" alt="" />
          </div>
        </div>
        <hr class="space" />
        <hr class="space" />
        </div>
        
          
        </div>
        
          
         
        </div>
      </div>
    </div>
    <div class="text-center" id="about">
      <div class="container content">
          <h1>About <strong>SIRUX</strong></h1>
            <hr class="space" />
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <a class="img-box lightbox inner shadow-1" href="#">
              <span
                ><img
                  src="../images/sirux.jpg"
                  alt=""
                  draggable="false"
              /></span>
              
            </a>
          </div>
          <div class="col-md-4 col-sm-12">
            <hr class="space m visible-sm" />
            <p class="block-quote quote-1 no-margins">
            Sirux is a software company that helps you build  <strong>quality software products </strong> with <strong>affordable price.</strong>
            <br>
            <br>
            At Sirux, we provide <strong>designing</strong>, <strong>programming</strong>, and <strong>marketing</strong> solutions for small businesses and start-ups.
            </p>
          </div>
        </div>
        <hr class="space" />
        <div class="row">
          <div class="col-md-4">
            <h1>Premium or solutions</h1>
            <hr class="space m" />
            <ul class="fa-ul">
              <li>
                <i class="fa-li fa fa-circle-thin"></i> Maintain the old
                management
              </li>
              <li>
                <i class="fa-li fa fa-circle-thin"></i> Save money with our
                family plans
              </li>
              <li>
                <i class="fa-li fa fa-circle-thin"></i> Be your own advisor with
                our tutorial
              </li>
              <li>
                <i class="fa-li fa fa-circle-thin"></i> You app provide you
                everything
              </li>
              <li>
                <i class="fa-li fa fa-circle-thin"></i> Stay your own advisor
                with our plans
              </li>
            </ul>
            <hr class="space l" />
            <a href="#" class="circle-button btn btn-sm">View services</a>
          </div>
          <div class="col-md-4">
            <div
              class="advs-box advs-box-multiple shadow-1"
              data-anima="scale-rotate"
              data-trigger="hover"
            >
              <a class="img-box"
                ><img class="anima" src="../images/image-4.jpg" alt=""
              /></a>
              <div class="circle anima-rotate-20 anima">
                12 <span>Packs</span>
              </div>
              <div class="advs-box-content">
                <h3>Business plans</h3>
                <p>
                  Tincidunt integer eu augue augue nunc elit dolore luctus
                  placerat scelerisque euismod, iaculis eu lacus nunto nunc
                  tempore.
                </p>
                <a class="btn-text" href="#">Enter now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div
              class="advs-box advs-box-multiple shadow-1"
              data-anima="scale-rotate"
              data-trigger="hover"
            >
              <a class="img-box"
                ><img class="anima" src="../images/image-3.jpg" alt=""
              /></a>
              <div class="circle anima-rotate-20 anima">
                25 <span>Packs</span>
              </div>
              <div class="advs-box-content">
                <h3>Family plans</h3>
                <p>
                  Tincidunt integer eu augue augue nunc elit dolore luctus
                  placerat scelerisque euismod, iaculis eu lacus nunto nunc
                  tempore.
                </p>
                <a class="btn-text" href="#">Enter now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-bg-image"
      style="background-image: url(../images/bg-17.png)"
    >
      <div class="container content">
        <div class="row">
          <div class="col-md-10 col-center boxed-inverse text-center shadow-1">
            <h1 class="text-l">Stay updated with our newsletter</h1>
            <hr class="space m" />
            <form
              action="http://www.framework-y.com/scripts/php/contact-form.php"
              class="form-box form-ajax form-inline width-80"
              method="post"
              data-email="aaa@pixor.it"
            >
              <input
                id="email"
                name="email"
                placeholder="Your email address"
                type="email"
                class="form-control form-value"
                required=""
              />
              <hr class="space m" />
              <button class="btn btn-sm" type="submit">Sign up</button>
              <div class="success-box">
                <div class="alert alert-success">
                  Congratulations. Your message has been sent successfully
                </div>
              </div>
              <div class="error-box">
                <div class="alert alert-warning">
                  Error, please retry. Your message has not been sent
                </div>
              </div>
            </form>
            <hr class="space s" />
            <div class="icon-list text-center">
              <div class="list-item">
                <i class="fa fa-circle-o text-s"></i>
                <label class="text-s">We don't spam</label>
              </div>
              <div class="list-item">
                <i class="fa fa-circle-o text-s"></i>
                <label class="text-s">Free cancellation</label>
              </div>
              <div class="list-item">
                <i class="fa fa-circle-o text-s"></i>
                <label class="text-s">Latest news</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-empty">
      <div class="container content">
        <h1 class="text-center">Pricing plans</h1>
        <hr class="space" />
        <div class="row">
          <div class="col-md-4">
            <div class="list-group pricing-table">
              <div class="list-group-item pricing-price">
                <span>$</span>19<span>/mon</span>
              </div>
              <div class="list-group-item pricing-name">
                <h3>Bronze plan</h3>
              </div>
              <div class="list-group-item">15 versions</div>
              <div class="list-group-item">All files included</div>
              <div class="list-group-item">Custom design and coding</div>
              <div class="list-group-item">Money back guarante</div>
              <div class="list-group-item">24/7 support</div>
              <div class="list-group-item pricing-btn">
                <a class="btn btn-sm btn-border circle-button" href="#">
                  Order now
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="list-group pricing-table">
              <div class="list-group-item pricing-price">
                <span>$</span>49<span>/mon</span>
              </div>
              <div class="list-group-item pricing-name">
                <h3>Silver plan</h3>
              </div>
              <div class="list-group-item">15 versions</div>
              <div class="list-group-item">All files included</div>
              <div class="list-group-item">Custom design and coding</div>
              <div class="list-group-item">Money back guarante</div>
              <div class="list-group-item">24/7 support</div>
              <div class="list-group-item pricing-btn">
                <a class="btn btn-sm btn-border circle-button" href="#">
                  Order now
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="list-group pricing-table">
              <div class="list-group-item pricing-price">
                <span>$</span>99<span>/mon</span>
              </div>
              <div class="list-group-item pricing-name">
                <h3>Gold plan</h3>
              </div>
              <div class="list-group-item">15 versions</div>
              <div class="list-group-item">All files included</div>
              <div class="list-group-item">Custom design and coding</div>
              <div class="list-group-item">Money back guarante</div>
              <div class="list-group-item">24/7 support</div>
              <div class="list-group-item pricing-btn">
                <a class="btn btn-sm btn-border circle-button" href="#">
                  Order now
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="space" />
        <div class="row vertical-row">
          <div class="col-md-2">
            <a
              class="img-box lightbox circle shadow-1"
              href="../images/gallery/image-1.jpg"
              data-lightbox-anima="fade-top"
            >
              <img src="../images/gallery/square-1.jpg" alt="" />
            </a>
          </div>
          <div class="col-md-3 hidden-sm">
            <a
              class="img-box lightbox circle shadow-1"
              href="../images/gallery/image-1.jpg"
              data-lightbox-anima="fade-top"
            >
              <img src="../images/gallery/square-2.jpg" alt="" />
            </a>
          </div>
          <div class="col-md-2">
            <a
              class="img-box lightbox circle shadow-1"
              href="../images/gallery/image-1.jpg"
              data-lightbox-anima="fade-top"
            >
              <img src="../images/gallery/square-3.jpg" alt="" />
            </a>
          </div>
          <div class="col-md-2">
            <a
              class="img-box lightbox circle shadow-1"
              href="../images/gallery/image-1.jpg"
              data-lightbox-anima="fade-top"
              data-anima="show-scale"
            >
              <img src="../images/gallery/square-4.jpg" alt="" />
            </a>
          </div>
          <div class="col-md-3 hidden-sm">
            <a
              class="img-box lightbox circle shadow-1"
              href="../images/gallery/image-1.jpg"
              data-lightbox-anima="fade-top"
            >
              <img src="../images/gallery/square-5.jpg" alt="" />
            </a>
          </div>
        </div>
        <hr class="space" />
        <div class="row">
          <div class="col-md-4">
            <h1>Upcoming events</h1>
          </div>
          <div class="col-md-8">
            <div
              class="flexslider carousel outer-navs"
              data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:false,directionNav:true"
            >
              <ul class="slides">
                <li>
                  <div class="advs-box advs-box-side-icon">
                    <div class="icon-box">
                      <i class="fa fa-calendar-o icon text-xl"></i>
                    </div>
                    <div class="caption-box">
                      <h3 class="text-m">Battle For Dubai</h3>
                      <span class="extra-content">December 18, 2019</span>
                      <p class="text-s">
                        Interdum iusto pulvinar consequuntur augue optio
                        repellat fugarus expedita fusce temporibus est odit mi
                        quoso aliquid sempere veritatis dignissimose.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="advs-box advs-box-side-icon">
                    <div class="icon-box">
                      <i class="fa fa-calendar-o icon text-xl"></i>
                    </div>
                    <div class="caption-box">
                      <h3 class="text-m">Traning Workshop</h3>
                      <span class="extra-content">December 25, 2019</span>
                      <p class="text-s">
                        Interdum iusto pulvinar consequuntur augue optio
                        repellat fugarus expedita fusce temporibus est odit mi
                        quoso aliquid sempere veritatis dignissimose.
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="advs-box advs-box-side-icon">
                    <div class="icon-box">
                      <i class="fa fa-calendar-o icon text-xl"></i>
                    </div>
                    <div class="caption-box">
                      <h3 class="text-m">Entrpreneurs meeting</h3>
                      <span class="extra-content">December 28, 2019</span>
                      <p class="text-s">
                        Interdum iusto pulvinar consequuntur augue optio
                        repellat fugarus expedita fusce temporibus est odit mi
                        quoso aliquid sempere veritatis dignissimose.
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="section-bg-image bg-top"
      style="background-image: url(../images/bg-14.png)"
    >
      <div class="container content">
        <div
          class="flexslider carousel png-over"
          data-options="numItems:5,minWidth:100,itemMargin:60,controlNav:false,directionNav:false"
        >
          <ul class="slides">
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_1.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_2.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_3.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_4.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_5.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_6.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_7.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_8.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_1.png" alt="" />
              </a>
            </li>
            <li>
              <a class="img-box" href="#">
                <img src="../images/logos/white/logo_2.png" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 footer-center text-left">
              <img width="120" src="../images/logo.png" alt="" />
            </div>
            <div class="col-md-6 footer-left text-left">
              <p>Collins Street West 8007, San Fransico, United States.</p>
              <div class="tag-row">
                <span>support@company.com</span>
                <span>+02 3205550678</span>
              </div>
            </div>
            <div class="col-md-3 footer-left text-right text-left-sm">
              <div class="btn-group social-group btn-group-icons">
                <a target="_blank" href="#" data-social="share-facebook">
                  <i class="fa fa-facebook text-xs circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-twitter">
                  <i class="fa fa-twitter text-xs circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-google">
                  <i class="fa fa-google-plus text-xs circle"></i>
                </a>
                <a target="_blank" href="#" data-social="share-linkedin">
                  <i class="fa fa-linkedin text-xs circle"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row copy-row">
          <div class="col-md-12 copy-text">
            © 2018 Signflow - Multipurpose & Tech Business Template
            <span
              >Handmade by <a href="http://schiocco.io/">schiocco.io</a></span
            >
          </div>
        </div>
      </div>
      <link
        rel="stylesheet"
        href="../HTWF/scripts/font-awesome/css/font-awesome.css"
      />
      <script
        async
        src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"
      ></script>
      <script src="../HTWF/scripts/imagesloaded.min.js"></script>
      <script src="../HTWF/scripts/parallax.min.js"></script>
      <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
      <script async src="../HTWF/scripts/isotope.min.js"></script>
      <script async src="../HTWF/scripts/php/contact-form.js"></script>
      <script async src="../HTWF/scripts/jquery.progress-counter.js"></script>
      <script async src="../HTWF/scripts/jquery.tab-accordion.js"></script>
      <script
        async
        src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"
      ></script>
      <script async src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
      <script src="../HTWF/scripts/social.stream.min.js"></script>
      <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
      <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
  </body>
</html>
